# Node
node_modules/
**/node_modules/
.npmrc
npm-debug.log*
.yarn/*

# Build outputs
**/build/
**/dist/
**/.expo/
**/.expo-shared/
**/android/app/build/
**/ios/build/

# Env & secrets
*.env
*.env.*
Backend/firebase-key.json
Frontend-mobile/android/app/google-services.json
Frontend-mobile/google-services.json
Frontend-mobile/ios/**/GoogleService-Info.plist
Frontend-mobile/android/app/debug.keystore
Frontend-mobile/android/app/release.keystore

# IDE
.vscode/
.idea/
.DS_Store

# Misc
**/uploads/
**/coverage/
